{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{ products.description|truncatewords:155 }}
{% endblock %}


{% block title %}
      {{ product.name }} - MY CART
{% endblock %}

{% block content %}
<div class="row my_prow_class">
    <div class="mx_auto">
        <h6 class="card-body"><a href="{% url 'shop:allprocat' %}">Home </a> | <a href="{{products.category.get_url}}">{{products.category}}</a>|{{products.name}}</h6>
    </div>

<div class="container">
<br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <div class="min-width:18rem">
            <img class="card-img-top .my_img" src="{{products.img.url}}" alt="{{products.name}}">
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="my_ptitle">{{products.name}}</h1>
            <p>${{products.price}}</p>
            <p class="my_title"> Product Description </p>
            <p class="text-justify my_ptext">{{products.txt}}</p>
            {% if products.stock <= 0 %}
                <p class="text-justify my_ptext"><b>Out of Stock</b></p>
            {% else %}
                <a class="btn btn-secondary" href=" {% url 'cart:add_cart' products.id %} ">Add to Cart</a>
            {% endif %}
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}